<center><h1>Extracción, Transformación y Carga </h1></center>

Para llevar a cabo un análisis exploratorio de datos efectivo en nuestra iniciativa de reducción de víctimas fatales, implementamos un proceso ETL (Extracción, Transformación y Carga). Este proceso nos permitió extraer datos relevantes de diversas fuentes, aplicar transformaciones necesarias para preparar los datos y, finalmente, cargar la información resultante en un formato adecuado para su análisis. El ETL desempeñó un papel fundamental al garantizar que los datos estuvieran limpios, estructurados y listos para ser explorados en busca de patrones y tendencias que informarán nuestras decisiones en la misión de mejorar la seguridad y reducir accidentes mortales.

# importaciones

In [2]:
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2

from Utils import * 

import warnings
warnings.filterwarnings("ignore")

# ETL Datos Hechos exel Homicidios

In [3]:
homicidios_hechos = pd.read_excel('./Data/homicidios.xlsx', sheet_name='HECHOS')
homicidios_hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

Datos generales:

In [4]:
print("columnas: ",homicidios_hechos.columns)

print("Cantidad de datos: ",homicidios_hechos.shape)

columnas:  Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')
Cantidad de datos:  (696, 21)

Estandarizo los nombres de las columnas

In [6]:
#se normaliza los nombres de las columnas, debido a que algunas estaban en mayusculas y otras en minusculas
homicidios_hechos.columns = homicidios_hechos.columns.str.title()
print("columnas: ",homicidios_hechos.columns)

columnas:  Index(['Id', 'N_Victimas', 'Fecha', 'Aaaa', 'Mm', 'Dd', 'Hora', 'Hh',
       'Lugar_Del_Hecho', 'Tipo_De_Calle', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'Comuna', 'Xy (Caba)', 'Pos X', 'Pos Y',
       'Participantes', 'Victima', 'Acusado'],
      dtype='object')

# Datos Nulos

In [7]:
resumen_columnas(homicidios_hechos)

NameError: name 'resumen_columnas' is not defined